:root {
    --color-pallete-1: #67dbdb;
    --color-pallete-2: #1597e6;
    --color-pallete-3: #113cf9;
    --color-pallete-4: #17349a;
    --color-pallete-5: rgb(250, 250, 250);

    --color-bg-primary: var(--color-pallete-5);
    --color-btn-primary: #0a71f7;
    --color-btn-secondary: rgb(62, 142, 145);
    --color-text-primary: var(--color-pallete-4);
    --color-text-secondary: var(--color-pallete-1);
    --color-bg-sidebar: rgb(227, 242, 253);
    // --color-bg-header: rgb(125, 199, 252);
    --color-bg-header: var(--color-pallete-2);
    --color-bg-search: #4bb5f7;

    --padding-layout: .5rem 1rem;
    --sidebar-width: 20rem;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body,
#root,
#app-model .model-container {

    height: 100vh;
    background: fixed;
    background: var(--color-bg-primary);
    margin: 0;
    padding: 0;
    font-family: Roboto, 'Times New Roman', Times, serif;

}

body {
    font-size: 16px;
}

.m-2 {
    margin: .2em;
}

a {
    text-decoration: none;

    &:hover {
        // text-decoration: underline;
    }
}

button {
    cursor: pointer;
}

.auth-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    .card {
        border-radius: .4rem;
    }

    form {
        h3 {
            padding: .4em 0;
        }

        label {
            display: flex;
            flex-direction: column;
        }
    }
}


.user-auth-page {
    display: flex;
    height: 100%;
    align-items: center;
    width: 72%;
    margin: 0 auto;

    .intro-text {
        padding: 0 5rem 8rem;
        padding-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            color: var(--color-text-primary);
            padding: 1rem;
            font-size: 2rem;
            font-weight: bolder;
        }

        p {
            text-align: center;
            font-size: 1.2rem;
        }
    }

    >div {
        margin: 0 auto;

        &.login-form,
        &.register-form {
            justify-self: start;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, .10),
                0 8px 16px rgba(0, 0, 0, .10);
            box-sizing: border-box;
            background-color: #fff;
        }

        form {
            display: flex;
            flex-direction: column;
            min-width: 20rem;
            margin: 1em;
            border-radius: 8px;
            max-width: 100%;

            .form-header {
                text-align: left;
                width: 100%;
                // padding: 0 1em;
                padding-bottom: 1rem;
                border-bottom: 1px solid rgb(196, 189, 189);
                margin-bottom: 1rem;
                position: relative;

                .btn-close {
                    background: transparent;
                    color: rgba(99, 98, 102, .7);
                    position: absolute;
                    right: 0;
                    top: 0;
                    display: inline;
                    width: auto;
                    margin: 0;
                    padding: 0;
                    // margin-right: 1rem;
                    font-weight: 400;
                    font-size: 1.6rem;
                }
            }


            align-items: center;
            border: none;


            .form-outline {
                display: flex;
                flex-direction: column;
                width: 100%;
            }

            label,
            input {
                display: flex;
                font-size: 1.2rem;
            }

            input {
                margin: 0 0 .4rem;
                padding: .5rem 1rem;
                border: 1px solid rgb(223, 215, 215);
                border-radius: .2rem;
            }

            button {
                margin: .6rem 0;
                padding: .6rem 1rem;
                width: 100%;
                background: var(--color-btn-primary);
                color: #f1f1f1;
                font-size: 1.2em;
                border: none;
                border-radius: .2rem;
                text-align: center;

                &.btn-create-new-account {
                    width: auto;
                    background: var(--color-btn-secondary);
                }
            }

            hr {
                margin: .6rem 0;
                width: 100%;
            }

            .horizontal-wrap {
                display: flex;
                width: 100%;
                gap: 1rem;

                .form-outline {
                    input {
                        width: 100%;
                    }
                }
            }

        }
    }
}


#app-modal {
    .model-container {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100vh;
        background: rgba(0, 0, 0, 0.6);
        z-index: 1000;
    }
}

.page-layout {
    height: 100%;
    display: flex;
    flex-direction: column;
    --header-height: 4rem;

    header {
        height: var(--header-height);
        display: flex;
        align-items: center;
        background: var(--color-bg-header);
        padding: var(--padding-layout);
        border-bottom: 1px solid rgba(255, 255, 255, .72);
        color: #ecedf0;

        .header-info {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;

            .logo-text {
                display: flex;
                align-items: center;
                margin: 0;
                gap: 1rem;


                .humberger-menu {
                    background: rgba(245, 248, 248, .2);
                    border: none;
                    border-radius: 1.2rem;
                    color: #ffffff;
                    width: 2.6rem;
                    height: 2.4rem;
                    display: block;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            aside {
                display: flex;
                height: 100%;
                align-items: center;
                gap: .5rem;
            }

            .avatar-svg {
                height: 100%;
            }
        }
    }

    main {
        flex: 1;
        display: flex;

        .sidebar-container {
            width: var(--sidebar-width);
            background: var(--color-bg-sidebar);
            border-right: 1px solid #d7e8f8;
            z-index: 2000;
            display: none;
            padding-top: .5rem;

            &.show {
                display: block;
            }

            &.mobile-device {
                position: absolute;
                height: calc(100vh - var(--header-height));
            }

            li a {
                padding: var(--padding-layout);
                display: inline-block;
                width: 100%;
                font-size: 1.2em;
                color: #0b112c;
            }
        }

        .page-content {
            flex: 1;
            padding: var(--padding-layout);
        }

    }
}

.user-profile {
    display: flex;
    flex-direction: column;
    border-radius: .4rem;
    // padding: 1rem;
    gap: 1rem;

    button.call-to-action,
    div.call-to-action button {
        border: none;
        background: var(--color-btn-primary);
        color: #fff;
        padding: .5rem;
        border-radius: .5rem;
    }
}

.drop-menu-button {
    button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .8rem;
        border-radius: 0 !important;
        position: relative;
        padding-right: 2rem !important;
        --arrow-size: .7rem;

        &::before {
            content: "";
            width: 0;
            height: 0;
            border-left: var(--arrow-size) solid transparent;
            border-right: var(--arrow-size) solid transparent;
            border-top: var(--arrow-size) solid rgb(102, 211, 211);
            position: absolute;
            right: .5rem;
            display: block;
        }
    }

    .drop-down {
        background: rgb(228, 234, 235);
        padding: .4rem 0;

        ul {
            padding: 0;
            margin: 0;
            list-style: none;

            li {
                border-bottom: 1px solid rgb(225, 242, 247);

                &:last-child {
                    border-bottom: none;
                }

                a {
                    padding: .4rem;
                    display: inline-block;
                    width: 100%;
                    text-decoration: none;

                    &:active,
                    &:hover {
                        background: #b3e5f5;
                    }
                }
            }
        }
    }
}

.registration-form {
    max-width: 30rem;
    display: flex;
    flex-direction: column;
}

.main-content {
    overflow-x: auto;
    position: relative;
}

.search-box {
    display: flex;
    flex: 1;
    --color-text: #041724;

    .form-inline {
        width: 100%;
        display: flex;
        position: relative;
        align-items: center;

        .form-control {
            padding-left: 2.4rem;
            max-width: 32rem;
            background: var(--color-bg-search);
            border: 1px solid rgba(0, 0, 0, .20);
            // border-radius: 1rem;
            background: var(--color-bg-search) url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
            color: var(--color-text);

            &::placeholder {
                color: var(--color-text);
                opacity: .5;
            }
        }
    }
}


.my-link {
    text-decoration: none;
    color: inherit;
    font-weight: bolder;

    &.active {

        .MuiListItemIcon-root,
        .MuiListItemText-root {
            color: rgb(77, 101, 241);
        }

        >div {

            background: rgb(236, 247, 252);
        }
    }
}

.step-content {
    padding: 1rem;
    // border: 1px solid #EEE;
    border-top: 1px solid #EEE;
    background: #FFF;
}

.grid-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 1rem;
}

.reg-form {
    button {
        grid-column: 1/-1;
        margin-top: 1rem;
    }
}

.text-danger {
    font-size: .8em;
    color: red;
    align-self: flex-start;
    padding: .6em 0;
    font-style: italic;
}